<h1>宿泊予約サービス</h1>

<% if user_signed_in? %>

  <%= current_user.name %><br>
  <%= current_user.email %><br>
  <%= link_to "プロフィール", user_path(current_user.id) %><br>
  <%= link_to "ルーム登録", new_room_path %><br>
  <%= link_to "登録済みルーム一覧", rooms_posts_path %><br>
  <%= link_to "予約済みルーム一覧", reservations_path %><br>
  <%= link_to "ログアウト", logout_path %><br>
  
  <%= search_form_for @q, url: search_rooms_path do |f| %>
    <%= f.label :address_cont, "エリア" %>
    <%= f.search_field :address_cont %><
    <%= f.submit "検索" %>
  <% end %>
  
  <%= search_form_for @q, url: search_rooms_path do |f| %>
    <%= f.label :name_or_content_cont, "キーワード" %>
    <%= f.search_field :name_or_content_cont %><
    <%= f.submit "検索" %>
  <% end %>

<% else %>
  <%= link_to "ログイン", login_path %>
  <%= link_to "登録する", signup_path %>

<% end %>
